<nav class="navbar">
    <div class="logo">
        <img src="/images/logo.png" alt="Logo">
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search ....">
        <button><i class="fas fa-search"></i></button>
    </div>
    <div class="menu-toggle" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
    </div>
    <div>
        <ul class="menu">
    <li><a href="/index.html"><i class="fa-solid fa-house"></i> Home</a></li>
    <li><a href="/Gallery/gallery.html"><i class="fa-solid fa-image"></i> Gallery</a></li>
    <li><a href="/PYQs/pyq.html"><i class="fa-solid fa-book"></i> PYQ Paper</a></li>
    <li><a href="/Result/result.html"><i class="fa-solid fa-book"></i> Result</a></li>
    <li><a href="/Members/member.html"><i class="fa-solid fa-person"></i> Members</a></li>
    <li><a href="/ContactUs/contact.html"><i class="fa-solid fa-phone"></i> Contact Us</a></li>
    
    <li id="loginLi">
        <a href="/Bootstrap/login.html" id="loginBtn">
            <i class="fas fa-sign-in-alt"></i> Login
        </a>
    </li>
            <li id="logoutLi" style="display: none;">
                <span id="userNameDisplay" style="color: white; margin-right: 10px;"></span>
                <a href="#" id="logoutBtn" style="color: #ff3333; font-weight: bold; display: inline-block;">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</nav>