*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.result h2{
    text-align: center;
    padding: 15px;
    background: #8ceabb;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px;
    padding: 20px;
   
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}
.card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: rgb(235, 64, 158);
}
div span{
   color: black; 
}

/* Responsive code */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
    }
}
@media (max-width: 480px) {
    body {
        padding: 10px;
    }
    .result h2 {
        font-size: 18px;
        padding: 10px;
    }
    .card {
        width: 100%;
    }
}