*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color:#00ffff9e;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div li{
    list-style-type: none;
}

.menu {
    display: flex;
    gap: 30px;
    
}
.logo{
    font-size: 25px;
    font-weight: bold;
}
.logo img{
    width: 50px;
    margin-top: 5px;
    margin-right: 20px;
}

.search-bar{
    display: flex;
    align-items: center;
}
.search-bar input{
    padding: 5px;
    border: none;
    border-radius: 13px;
}
.search-bar button{
    background: #555;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 13px;
}
.menu a{
    color: orangered;
    text-decoration: none;
    font-size: 16px;
}
.sign-in a{
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Navbar end */

.page1 {
      display: flex;
      /* border: 1px solid red; */
      width: 100%;
      height: 370px;
      justify-content: flex-end;
      background-color: whitesmoke;
      
}
.about{
    /* border-radius: 10px; */
    margin: 10px;
}
.about1 img{
    height: 350px;
    margin: 6px ;
    margin-top:10px;
    border-radius: 13px;
}
.page1>section>p{
    font-weight: bold;
    font-style: italic;
    color: #2206d6;
}

/* Parallax Background */
.parallax {
    background-image: url('/images/photo2.jpg'); 
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    background-image: url('/images/photo1.jpg'); 
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 50px;
    text-align: center;
    background: #0896ce;
}

/* footer */
footer{
    background-color: #be11d1;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.footer-container{
    display: flex;
    justify-content: center;
}
.quick-links  
{
    align-items: center;
    text-align: left;
}
.quick-links h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.quick-links ul{
    list-style: none;
    padding: 0;
    align-items: center;
}
.quick-links ul li{
    margin: 5px 0;
}
.quick-links ul li a{
    color: white;
    text-decoration: none;
}
.quick-links ul li a:hover .contact-info p a:hover {
    text-decoration: underline;
}
.map iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.map h3{
      padding: 10px;
}
.copyright {
    background-color: #111;
    padding: 10px;
    margin-top: 10px;
}
.contact-info h3{
    padding: 10px;
}

   



